.categoriaTinto{
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 30%;
    margin: 20px;
    
}


.categoriaBlanco{
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 30%;
    margin: 20px;
}

.categoriaRosado{
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 30%;
    margin: 20px;
}

.categoriaChampagne{
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 30%;
    margin: 20px;
}

.categoriaTinto:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.categoriaBlanco:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.categoriaRosado:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.categoriaChampagne:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

