.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Unbounded", cursive;
  color: #fffffc;
  background-color: #212529;
  margin: 0px;
}

.title2 {
  font-size: 1.3rem;
  font-family: "Unbounded", cursive;
  color: #fffffc;
  align-self: center;
  text-decoration: none;
}

nav {
  border-bottom: 2px solid #000;
}
.navBar {
  margin: 10px;
  align-items: center;
}

.listNav {
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #fffffc;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.listNav:hover {
  transition: 0.2s;
  color: #68b684;
  cursor: pointer;
}

.imgLogo {
  width: 80px;
  list-style: none;
  margin: 10px;
}

.carritoNavBar {
  width: 38px;
  display: flex;
  justify-content: end;
}

.divCarritoNav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

.carritoNotificacion {
  width: 27px;
  height: 27px;
  text-align: center;
  color: #ffffff;
  background-color: #68b684;
  border: solid;
  border-radius: 50px;
  font-size: 0.8rem;
  margin: 5px;
}

.AgregarContador {
  margin: 0;
}

.cardVinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardIimg {
  width: 300px;
}

.footer {
  background-color: #857c8d;
  height: 100px;
}

.input {
  border: solid 1px #68b684;
  margin-left: 10px;
  width: 250px;
}

.labelform {
  width: 200px;
}

.divForm {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-self: center;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.botonFrom {
  border: solid 3px #857c8d;
  border-radius: 10px;
  margin: 10px;
  align-self: center;
  background-color: #68b684;
  color: #fffffc;
  text-align: center;
  height: 45px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  text-transform: uppercase;
}

.buscador{
  width: 200px;
  height: 30px;
  border: solid 1px #68b684;
  margin-left: 10px;
  margin: 20px;
  
}

.botonBuscador{
  border: solid 3px #857c8d;
  border-radius: 10px;
  margin: 10px;
  align-self: center;
  background-color: #68b684;
  color: #fffffc;
  text-align: center;
  height: 45px;
}
